@{
    ViewBag.Title = "Sobre a Spaces4Children";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Lorem ipsum dolor sit amet, et fierent oportere sea. Mel nisl singulis in, has nominavi oportere no, phaedrum gubergren ei nam. Sed unum dicit et, ut eum appetere torquatos, vel aeque dictas percipitur ad. Quo modo nostro ea, cu mel justo veritus. An deleniti gubergren ius.
</p>
<p>
    Ex nec aeque inciderint, quo et periculis percipitur. Cu sea delectus recteque periculis, vocibus scriptorem est ut. Et paulo fabellas eam. Ne mei odio nominati accusamus, pri accusam delicata ad. Vix ea wisi atomorum, molestie percipitur qui cu.
</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3047.737843931368!2d-8.413778584786314!3d40.19264727716143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd22f9916a32cfd3%3A0xca4589d604c71bc6!2sInstituto+Superior+de+Engenharia+de+Coimbra!5e0!3m2!1spt-PT!2spt!4v1515272591494" width="1200" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
