@{
    ViewBag.Title = "Entre em Contato!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>





<div class="alert alert-success" role="alert">
    @*<h4 class="alert-heading">Well done!</h4>*@
    <address>
        Rua Pedro Nunes<br />
        Quinta da Nora<br />
        3030-199 COIMBRA<br />
        Portugal<br />
        <abbr title="Telefone">Tlf:</abbr>
        +351 239 790 200
    </address>
    <hr>
    <address>
        <strong>Suporte:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>